# Tasks directory
tasks/

# macOS files created by Finder.app
**/.DS_Store

# spell files
spell/

# Generated Lua LSP cache
.codex-lsp-cache/

# Neovim log file
nvim.log

# Nvim pack lock file
nvim-pack-lock.json
